html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.con{
	margin: 10px auto;
	text-align: center;	
}

.item,.left,.right{
	background: #0088CC;
	height: 200px;
	width: 100px;
	display: inline-block;
}
.item:hover{
	background: #009688;
}

.left{
	background: #008000;
	float: left;
}

.right {
	background: #00CCCC;
}

.input_con{
	border: 1px solid #CDCDCD;
	border-radius: 2px;
	background: #FFFFFF;
	color: #000310;
}
